<app-add-todo (todoAdd)="AddTheTodo($event)"></app-add-todo>
<h4>Your Todos</h4>
<!--* directives are custom html attributes, here we use *ngFor  -->
<div *ngFor="let todo of todos">
    <!-- <li>{{todo.sno}} - {{todo.title}} - {{todo.desc}}</li> -->
    <!--* passing a custom attribute using [] in our todo-item component -->
    <app-todo-item [todo]="todo" (todoDelete)="DeleteTheTodo($event)"></app-todo-item>
    <!--* <child-component (eventName)="someMethod($event)"></child-component> -->
</div>