<div class="my-4">
    <!--* <h5 [class] = "'nostrike'? todo.active : 'strike'">{{todo.title}}</h5> -->
    <h5 [ngClass]="{'nostrike':todo.active , 'strike':!todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'nostrike':todo.active , 'strike':!todo.active}">{{todo.desc}}</p>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="todo{{i}}" (click)="onCheckBoxClick(todo)"
            [checked]="!todo.active">
        <label class="form-check-label" for="todo{{i}}">Mark as Done</label>
    </div>
    <!-- click - event listener, onclick - event handler -->
    <button class="btn btn-danger btn-sm" (click)="onClick(todo)">Delete</button>
</div>